html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

body {margin: 0%;
    font-family: sans-serif;
   }

header {
    display: flex;
    color: white;
    justify-content: center;
   
    background-color: #1f2937;
}

header ul {
    display: flex;
    
   /* border: 3px solid white;*/
    width: 100%;
    list-style-type: none;
    padding:0%;
}

.header-container {
    display: flex;
    width:30%;
}

.logo-header {
    /*border: solid white 2px;*/
    /*margin-left: 20rem;*/
    margin-right: auto;
    font-family: sans-serif;
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    
    margin-right: 15rem;

    display: inline-flex;
    /*border: solid white;*/
}

.header-links li {
    padding: 1em 3em;
}

.section1 {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: center;
    
}

.section1-column1 {
    /*border: solid whitesmoke;*/
    /*margin-left: 15rem;*/
    width: 30%;
    
    padding: 5em;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

p {
    font-size: 18px #e5e7eb;
}

.button {
    border: solid #3882F6;
    background-color: rgb(32, 125, 201);
    border-radius: 0.5em;
    width: 7em;
    padding: 0.5em 1em;
}

.section1-column2 {
    /*border: solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.greybox {
    width: 400px;
    height: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section 2 styles*/
#section2-heading {
    display: flex;
    justify-content: center;
}

h2 {text-align: center;}

.boxes {
    display: flex;
    justify-content: center;
}

.box-column {
    display: flex;
    flex-flow: column wrap;
    width: 150px;
    margin: 50px;
}

.box-column .box {
    border: solid 2px #1669dd;
    border-radius: .5em;
    padding: 3em;
    margin-bottom: 2rem;
    width: 100%;
    height: 150px;
}

.box-column .box-text {
    width: 100%;
    text-align: center;
}
/*section 3 styles*/
.section3 {
    margin: 0;
}

blockquote {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    width: 100%;
    padding: 200px;
}

/*section 3 styles*/

.section4 {
    display: flex;
    justify-content: space-around;
    color: white;
    
}

#bluebox {
    background-color: #1669dd;
    border-radius: 0.4em;
    margin: 5em 0;
    display: flex;
    width: 50%;

}

.section4 .column1 {
    display: flex wrap;
    justify-content: center;
    align-items: center;
}

.section4 .button {
    border: solid 1px;
    border-radius: 0.4em;
    align-self: center;
   
    
}

.logo-header, header, .header-container, .header-links {
    border: solid white;
}